<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Meu Primeiro Flask{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>

    <header class="p-3">
    <div class="container">

        <h1>Laboratório Criativo!</h1>

    <nav>
        <a href="{{ url_for('index') }}" class="me-3">Inicio</a>
        <a href="{{ url_for('new') }}" class="me-3">Novo</a>
        <a href="{{ url_for('about') }}" class="me-3">Sobre</a>
        <a href="{{ url_for('contacts') }}">Contatos</a>
    </nav>

    </div>
</header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Meu primeiro projeto com Flask</p>
        <small>&copy; 2026 Teste da UC 3</small>
    </footer>

</body>
</html>